<div class="administratorContainer">
    <h1 class="tittle">Registro de Alumnos</h1>
    <button class="agregar" routerLink="/registro">
        <h5>Agregar un nuevo alumno</h5>
        <i class="fa-solid fa-circle-plus"></i>
    </button>
    <div class="listarAlumnos">
        <table>
            <thead>
                <th>Código</th>
                <th>Nombres</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>DNI</th>
                <th>Celular</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of data">
                    <td>{{alumno.id}}</td>
                    <td>{{alumno.nombres}}</td>
                    <td>{{alumno.apellidoPaterno}}</td>
                    <td>{{alumno.apellidoMaterno}}</td>
                    <td>{{alumno.dni}}</td>
                    <td>{{alumno.celular}}
                    </td>
                    <td class="btnOpciones">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>