<div class="administrator">
    <h1>Registro de Alumnos</h1>
<button class="agregar">
    <h5>Agregar</h5>
    <i class="fa-solid fa-circle-plus"></i>
</button>
    <div class="listarAlumnos" [formGroup]="form" *ngIf="showStudents">
        <table>
            <thead>
                <th>Código</th>
                <th>Nombres</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>DNI</th>
                <th>Celular</th>
            </thead>
            <tbody>
                <tr *ngFor = "let alumno of data">
                    <td>[alumno.id]</td>
                    <td>[alumno.nombres]</td>
                    <td>[alumno.apellidoPaterno]</td>
                    <td>[alumno.apellidoMaterno]</td>
                    <td>[alumno.dni]</td>
                    <td>[alumno.celular]</td>
                    <td class="btnOpciones">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal">
        <h2>Agregar Alumno</h2>
        <form [formGroup] = "form" (ngSubmit)="registrarAlumno()">
            <input type="text" class="inputData" placeholder="Código del alumno" formControlName = "codigo" minlength="3">
            <input type="text" class="inputData" placeholder="Nombres" formControlName = "nombres">
            <input type="text" class="inputData" placeholder="Apellido Paterno" formControlName="apellidoPaterno">
            <input type="text" class="inputData" placeholder="Apellido Materno" formControlName="apellidoMaterno">
            <input type="text" class="inputData" placeholder="DNI" formControlName="dni" maxlength="8">
            <input type="text" class="inputData" placeholder="Teléfono" formControlName="celular" maxlength="8">
            <input type="submit" class="inputData" value="GUARDAR" >
        </form>
    </div>
</div>
